{% extends "base.html" %}

{% block content %}

  <h1>Make buggy</h1>

  <form action="/new" method="post">
      <label for="qty_wheels">Number of wheels:</label>
      <input type="text" name="qty_wheels" id="qty_wheels">
      <br><br>
      <!--Flag colour-->
      <label for="flag_color">Flag_color:</label>
      
      <select name="flag_color" id="flag_color" style ="font-size:2-px;">
        <option value="--option--">--option--</option>
        <option value="green">green</option>
        <option value="red">red</option>
        <option value="blue">blue</option>
        <option value="white">white</option>
      </select><br><br>
      <!--Flag secondary colour-->
      <label for="flag_color_secondary">Flag color secondary:</label>
      
      <select name="flag_color_secondary" id="flag_color_secondary" style ="font-size:2-px;">
        <option value="--option--">--option--</option>
        <option value="green">green</option>
        <option value="red">red</option>
        <option value="blue">blue</option>
        <option value="white">white</option>
      </select><br><br>
      <!--Flag pattern-->
      <label for="flag_pattern">Flag pattern:</label>
      
      <select name="flag_pattern" id="flag_pattern" style ="font-size:2-px;">
        <option value="--option--">--option--</option>
        <option value="check">check</option>
        <option value="dstripe">dstripe</option>
        <option value="hstripe">hstripe</option>
        <option value="plain">plain</option>
        <option value="spot">spot</option>
        <option value="vstripe">vstripe</option>
      </select><br><br>

      <!--Algo-->
      <label for="algo">Algo:</label>
      
      <select name="algo" id="algo" style ="font-size:2-px;">
        <option value="--option--">--option--</option>
        <option value="buggy">buggy</option>
        <option value="defensive">defensive</option>
        <option value="offensive">offensive</option>
        <option value="random">random</option>
        <option value="steady">steady</option>
        <option value="titfortat">titfortat</option>
      </select><br><br>
      {% if error_qty_wheels %}
      <p style="color: red;">{{error_qty_wheels}}</p>
      {% endif %}
    <input type="submit" class="button">




  </form>

  <p>
    <a href="/" class="button">home</a>
  </p>

{% endblock %}
