{% extends "base.html" %}

{% block content %}

  <h1>Make buggy</h1>

  <form action="/new" method="post">
    <label for="qty_wheels">Number of wheels:</label>
    <input type="text" name="qty_wheels" />
    <!-- Flag colour-->
    <label for="colour_flag">Flag colour:</label>
    
    <select name="colour_flag" id="colour_flag" style ="font-size:2-px;">
      <option value="green">green</option>
      <option value="green">red</option>
      <option value="green">blue</option>
      <option value="green">white</option>
    </select>

    <input type="submit" class="button">




  </form>

  <p>
    <a href="/" class="button">home</a>
  </p>

{% endblock %}
