{% extends "base.html" %}

{% block content %}


<a href="https://rhul.buggyrace.net/specs/data?extra=mass" class="button">info</a><br><br><br>


<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>JSON to HTML Tables</title>
<style>
.table {
border: 1px solid black;
margin-bottom: 20px;
}
</style>
</head>
<body>
<div>
<h2>Table 1</h2>
<table class="table">
<thead>
<tr>
<th>Attribute</th>
<th>Value</th>
</tr>
</thead>
<tbody>
{% for key, value in data1.items() %}
<tr>
<td>{{ key }}</td>
<td>{{ value }}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
<div>
<h2>Table 2</h2>
<table class="table">
<thead>
<tr>
<th>Attribute</th>
<th>Item</th>
<th>Cost</th>
<th>Value</th>
<th>Description</th>
</tr>
</thead>
<tbody>
{% for attribute, items in data2.items() %}
{% for item, details in items.items() %}
<tr>
    <td>{{ attribute }}</td>
    <td>{{ item }}</td>
    <td>{{ details.cost }}</td>
    <td>{{ details.value }}</td>
    <td>{{ details.desc }}</td>
</tr>
{% endfor %}
{% endfor %}
</tbody>
</table>
</div>
</body>
</html>



<a href="/" class="button">home</a>

{% endblock %}